<div class="verLeads">
    <p class="title">Reportes</p>

    <div class="grafica-container">
      <app-reportesgrafica></app-reportesgrafica>
    </div>
    
    <div class="tabla-contenedor">
      <table class="tabla-leads">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Tipo de reporte</th>
            <th>Información del reporte</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reporte of Lista">
            <td>{{ reporte.nombre}}</td>
            <td>{{ reporte.tipo }}</td>
            <td>{{ reporte.desc }}</td>
            <td>{{ fechatexto(reporte.fecha) }}</td>
            <td><div class="contenedorb">
              <button class="botonaccion" (click)="delete(reporte._id)">Dar reporte de baja</button>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br><br><br>

    <p class="title">Reportes dados de baja</p>
    <div class="tabla-contenedor">
      <table class="tabla-leads">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Tipo de reporte</th>
            <th>Información del reporte</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reporte of Listafin">
            <td>{{ reporte.nombre}}</td>
            <td>{{ reporte.tipo }}</td>
            <td>{{ reporte.desc }}</td>
            <td>{{ fechatexto(reporte.fecha) }}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>