:host {
  display: block;
  width: calc(48% - 20px); /* Reduced width */
  height: 300px;
  margin: 0; /* Reset margin */
  margin-top: 20px; /* Added top margin */
  min-width: 300px;
}

@media (max-width: 1200px) {
  :host {
    width: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
  :host {
    height: 200px;
  }
}

h1 {
  text-align: center;
  margin-bottom: 30px; /* Increased separation */
}

.w-50 {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}
