<div class="verLeads">
    <p class="title">Cotización</p>
    <div class="seleccionprospectos">

        <select [(ngModel)]="leadSeleccionado" (change)="getDatosCompletos()" class="cotizador-select">
            <option *ngFor="let Leads of ListaLeads" [value]=Leads._id>
                {{ Leads.leadName }}
            </option>

        </select>

        <button class="botonaccion" (click)=regresarLead()>Regresar Lead</button>
    </div>
    <div class="cotizador-container">

        <div class="cotizador-left">
            <div class="form-section">
                <div class="form-group" *ngIf="M2 > 1">
                    <label>Metros cuadrados</label>
                    <span>{{M2}}</span>
                </div>

                <div class="form-group" *ngIf="M2 > 1">
                    <label>Costo por metro cuadrado</label>
                    <span>$ {{precio_M2}}</span>
                </div>

                <div class="form-group" *ngIf="M2 == 1">
                    <label>Costo de propiedad</label>
                    <span>{{precio_M2}}</span>
                </div>

                <div class="form-group">
                    <label>Descuento (%)</label>
                    <span>{{descuento}}</span>
                </div>

                <div class="form-group">
                    <label>Precio</label>
                    <span>$ {{precioSinEnganche | currency:'MX'}}</span>
                </div>

                <div class="form-group">
                    <label>Enganche</label>
                    <div class="radio-group">
                        <div class="radio-option">
                            <label for="opcion1">Si</label>
                            <input type="radio" id="opcion1" [checked]="hayEnganche === 'Si'"
                                (change)="checkEnganche('Si')">
                        </div>
                        <div class="radio-option">
                            <label for="opcion2">No</label>
                            <input type="radio" id="opcion2" [checked]="hayEnganche === 'No'"
                                (change)="checkEnganche('No')">
                        </div>
                    </div>
                </div>

                <div id="inputEnganche" style="display: none;">
                    <div class="form-group">
                        <label>Enganche</label>
                        <input [(ngModel)]="enganche" (ngModelChange)="calcularPrecioConEnganche()" class="input_style_1">
                    </div>
                    <div class="form-group">
                        <label>Precio con enganche</label>
                        <span>$ {{precioConEnganche | currency: 'MX'}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Interes</label>
                    <div class="radio-group">
                        <div class="radio-option">
                            <label for="opcion1">Si</label>
                            <input type="radio" id="opcion1" [checked]="hayInteres === 'Si'" (change)="checkInteres('Si')">
                        </div>
                        <div class="radio-option">
                            <label for="opcion2">No</label>
                            <input type="radio" id="opcion2" [checked]="hayInteres === 'No'" (change)="checkInteres('No')">
                        </div>
                    </div>
                </div>

                <div id="inputInteres" style="display: none;">
                    <div class="form-group">
                        <label>Porcentaje interes</label>
                        <input [(ngModel)]="interes" class="input_style_1">
                    </div>
                    <div class="form-group">
                        <label>Desde</label>
                        <input [(ngModel)]="mesDesde" class="input_style_1">
                    </div>
                    <div class="form-group">
                        <label>Hasta</label>
                        <input [(ngModel)]="mesHasta" (ngModelChange)="validarInteres()" class="input_style_1">
                    </div>
                </div>

                <div class="form-group">
                    <label>Plazos</label>
                    <input class="input_style_1" [(ngModel)]="this.plazos" (ngModelChange)="asignarPlazos()">
                </div>
            </div>
        </div>

        <div class="cotizador-right">
            <div class="actions">
                <button class="p-1 botonaccion2" (click)="capturaMensualidad()">Capturar</button>
            </div>
        </div>
    </div>
</div>